<header id="leader-education">
    <div>
        <strong id="branding-education" ng-click="home()"></strong><br>
    </div>
</header>

<header id="education">
    <div>
        <article>
            <p>Education.</p>
        </article>
    </div>
</header>

<section class="panel">
    <div>
        <ul class="cards-large">
            <li>
                <img src="../App/images/brands/georgiatech.png" alt="Georgia Tech">
                <strong>Georgia Institute of Technology </strong>
                <strong> <a href="http://www.omscs.gatech.edu/" target="_blank">Online Master of Science in Computer Science (Interactive Intelligence Specialization) </a></strong>
                <i>January 2015 - Present | Atlanta  GA </i>
                <i> <a href="http://www.cc.gatech.edu/facts-rankings" target="_blank"> Top 10 Graduate Computer Science Program </a> </i>
                <ul>
                    <li> <a href="http://www.omscs.gatech.edu/cs-6601-artificial-intelligence" target="_blank"> Artificial Intelligence </a></li>  
                    <li> <a href="https://www.omscs.gatech.edu/cs-7641-machine-learning" target="_blank"> Machine Learning </a> </li> 
                    <li> <a href="http://www.omscs.gatech.edu/cs-8803-artificial-intelligence-robotics" target="_blank"> Artificial Intelligence for Robotics </a> </li>  
                    <li> <a href="https://www.omscs.gatech.edu/cs-7646-machine-learning-trading" target="_blank"> Machine Learning For Trading </a> </li> 
                    <li> <a href="http://www.omscs.gatech.edu/cs-7637-knowledge-based-artificial-intelligence-cognitive-systems" target="_blank"> Knowledge Based Artificial Intelligence </a> </li>  
                    <li> <a href="http://www.omscs.gatech.edu/cs-6250-computer-networks" target="_blank">Computer Networks </a> </li>  
                    <li> <a href="http://www.omscs.gatech.edu/cs-6300-software-development-process" target="_blank"> Software Development Process  </a></li>  
                    <li> <a href="https://www.omscs.gatech.edu/cs-6460-educational-technology" target="_blank"> Educational Technology </a> </li> 
                    <li> <a href="https://www.omscs.gatech.edu/cs-6035-introduction-to-information-security" target="_blank"> Information Security </a> </li> 
                    <li> <a href="http://www.omscs.gatech.edu/cs-6750-human-computer-interaction" target="_blank"> Human Computer Interaction </a> </li>                  
                </ul>
            </li>
            <li>
                <img src="../App/images/brands/uga.gif" alt="University of Georgia">
                <strong>University of Georgia </strong>
                <strong><a href="http://www.terry.uga.edu/mba/professional" target="_blank">Professional Master of Business Administration (MBA) </a> </strong>
                <i> May 2011 | Athens, GA </i>
                <i> <a href="http://www.terry.uga.edu/about/rankings-statistics" target="_blank">Top 50 MBA Program </a> </i>
                <ul>
                    <li>Strategic Management</li>
                    <li>Ethics </li>
                    <li>Public Accounting </li>
                    <li>Managerial Accounting</li>
                    <li>Finance</li>
                    <li>International Finance</li>
                    <li>Marketing</li>
                    <li>Business Law</li>
                    <li>Economics</li>
                    <li>Operations Management</li>
                    <li>Leadership</li>
                    <li>Investment</li>
                    <li>Project Management</li>
                </ul>
            </li>
            <li>
                <img src="../App/images/brands/uta.jpg" alt="University of Texas">
                <strong>University of Texas At Arlington </strong>
                <strong><a href="https://www.uta.edu/business/" target="_blank">Bachelor of Science in Information Systems </a> </strong>
                <i> May 2003 | Arlington, TX </i>                
                <ul>
                    <li>Intro to Computer Programing</li>
                    <li>Intermediate computer Programing </li>
                    <li>Advanced Computer Programing </li>
                    <li>Object Oriented Programing</li>
                    <li>Software Development</li>
                    <li>Manangement Information Systems</li>
                    <li>Systems Design</li>
                    <li>Database Systems</li>
                    <li>Algorithm & Data Structure</li>
                    <li>Theoretical Computer Sciencet</li>                    
                </ul>
            </li>
        </ul>           
        <div style="clear:both;"></div>
    </div>
</section>




