<header id="leader-travel">
    <div>
        <strong id="branding-travel" ng-click="home()"></strong><br>
    </div>
</header>

<header id="travel">
    <div>
        <article>            
            <h3>“Traveling – it leaves you speechless, then turns you into a storyteller.” – Ibn Battuta </h3>
        </article>
    </div>
</header>

<section class="panel">
    <div class="travel">

        <div>
            <img src="../App/images/travel/Beijing_China.jpg" alt="Beijing_China"> Beijing, China           
        </div>
        <div>
            <img src="../App/images/travel/Brooklyn.jpg" alt="Brooklyn"> Brooklyn, NY
        </div>
        <div>
            <img src="../App/images/travel/BuenosAires_Argentina.jpg" alt="BuenosAires_Argentina"> Buenos Aires, Argentina
        </div>
        <div>
            <img src="../App/images/travel/Capetown_SouthAfrica.jpg" alt="Capetown_SouthAfrica"> Capetown, SouthAfrica
        </div>
        <div>
            <img src="../App/images/travel/Chttagong_Bangladesh.jpg" alt="Chttagong_Bangladesh"> Chttagong, Bangladesh
        </div>
        <div>
            <img src="../App/images/travel/Cusco_Peru.jpg" alt="Cusco_Peru"> Cusco, Peru
        </div>
        <div>
            <img src="../App/images/travel/Delhi_India.jpg" alt="Delhi_India"> Delhi, India
        </div>
        <div>
            <img src="../App/images/travel/GreatWall_China.jpg" alt="GreatWall_China"> Great Wall Of China
        </div>
        <div>
            <img src="../App/images/travel/Istanbul_Turkey.jpg" alt="Istanbul_Turkey"> Istanbul, Turkey
        </div>
        <div>
            <img src="../App/images/travel/Johannesburg_SouthAfrica.jpg" alt="Johannesburg_SouthAfrica">Johannesburg, SouthAfrica
        </div>        
        <div>
            <img src="../App/images/travel/KrugerNationalPark_SouthAfrica.jpg" alt="KrugerNationalPark_SouthAfrica"> Kruger National Park, SouthAfrica
        </div>
        <div>
            <img src="../App/images/travel/Lima_Peru.jpg" alt="Lima_Peru"> Lima, Peru
        </div>
        <div>
            <img src="../App/images/travel/London.jpg" alt="London"> London, England
        </div>
        <div>
            <img src="../App/images/travel/MachuPichu_Peru.jpg" alt="MachuPichu_Peru"> Machu Pichu, Peru
        </div>       
        <div>
            <img src="../App/images/travel/Madrid.jpg" alt="Madrid"> Madrid, Spain
        </div>
        <div>
            <img src="../App/images/travel/Mumbai.jpg" alt="Mumbai"> Mumbai, India
        </div>
        <div>
            <img src="../App/images/travel/Mysore_India.jpg" alt="Mysore_India"> Mysore, India
        </div>
        <div>
            <img src="../App/images/travel/Oahu.jpg" alt="Oahu"> Oahu, Hawaii
        </div>
        <div>
            <img src="../App/images/travel/OregonCoast.jpg" alt="OregonCoast"> Oregon Coast
        </div>
        <div>
            <img src="../App/images/travel/Paris.jpg" alt="Paris"> Paris, France
        </div>
        <div>
            <img src="../App/images/travel/RioDeJaneiro_Brazil.jpg" alt="Oahu">Rio De Janeiro, Brazil
        </div>
        <div>
            <img src="../App/images/travel/Shanghai.jpg" alt="Oahu"> Shanghai, China
        </div>
        <div>
            <img src="../App/images/travel/SoutherMostPoint.jpg" alt="SoutherMostPoint"> Cape of good hope, South Africa
        </div>
        <div>
            <img src="../App/images/travel/Shanghai.jpg" alt="Oahu"> Shanghai, China
        </div>
        <div>
            <img src="../App/images/travel/toronto.jpg" alt="toronto"> Toronto, Ontario
        </div>
    </div>
</section>

