<header id="leader-colorthestate">
    <div>
        <strong id="branding-colorthestate" ng-click="mLab()"></strong><br>
    </div>
</header>

<header id="colorthestate">
    <div>
        <article>
            <p>ColorTheStates.</p>
        </article>
    </div>
</header>

<section class="panel">
    <div>
        <ul class="cards-large">
            <li>
                <img src="../App/images/mLab/color_my_state_black.png" alt="ColorTheStates">
                <strong>ColorTheStates v1.0.0 OverView</strong>
                <p>
                    ColorTheStates is an interactive mobile app that offer the ability to color or draw on the state map in a canvas and learn more each of the 50 states. This app is designed for kids to create interest in geography education.
                    The app incorporates challenges and curiosity aspect of learning by enabling the ability to color on the map of a randomly selected states in a canvas. This feature includes ability to select a variety of color to draw and/or color with, impose text over the image and undoing ability.
                    The app includes element of controls as an immersive learning experience by providing ability to select a state and learn more about that state – particularly following geographic information about that state: State Map, State Capital, Nick Name of the state and Bordering States.
                    This information was kept limited intentionally to avoid information overloads. The app also allow to color or draw on a state map selected by the user.
                    The app also include simulated puzzle based learning by incorporating the ability to use geo-location to track current state the user is located at and track previously colored/drawn states.
                </p>
                <strong> Support</strong>
                <p>
                    If you have any questions or concerns about our the app, please contact us mlab.interactive.llc@gmail.com
                </p>
            </li>
            
        </ul>
        <div style="clear:both;"></div>
    </div>
</section>


