<header id="leader-mlab">
    <div>
        <strong id="branding-mlab" ng-click="mLab()"></strong><br>
    </div>
</header>

<header id="mlab">
    <div>
        <article>
            <p>Hello from Seattle.</p>
        </article>
    </div>
</header>

<section class="panel-primary">
    <div>
      
        <p>
            mLab Interactive LLC is an incubator project of Maksood Mohiuddin with the goal of experimenting with mobile, voice computing, artificial intelligence and machine learning technologies.
            Please feel free to explore the products developed. Reach out at hello@maksoodmohiuddin.com if you like to partner with any of the initiatives. 
        </p>
       
    </div>
</section>


<section class="panel">
    <div>
        <ul class="cards-large">
            <li>
                <img src="../App/images/mLab/color_my_state_black.png" alt="ColorTheStates"> 
                <strong>ColorTheStates v1.0.0 </strong>
                <p> ColorTheStates is an interactive mobile app that offer the ability to color or draw on the state map in a canvas and learn more about each of the 50 states. This app is designed for kids to create interest in geography education.  The app is developed by Maksood Mohiuddin, inspired by Aydin and Sophia Mohiuddin </p>
                <button class="progressive_alt" ng-click="colorTheStates()">Learn More</button>
                <button class="progressive_alt" ng-click="privacyPolicy()">Privacy Policy </button>
            </li>  
            <li>
                <img src="../App/images/brands/github.png" alt="Github">
                <strong>Independent Work</strong>
                <p>
                    <span> Sandbox projects in artificial intelligence, machine learning and implementation of various algorithms.</span><br>
                </p>
                <button class="progressive_alt" ng-click="github()">Browse Projects </button>
            </li>
        </ul>
        <div style="clear:both;"></div>
    </div>
</section>
