<header id="leader-sophia">
    <div>
        <strong id="branding-sophia" ng-click="home()"></strong><br>       
    </div>
</header>

<header id="sophia">
    <div>
        <article>
            <h1>Sophia.</h1>
            <h3>The Trouble Maker v2</h3>
        </article>
    </div>
</header>

<section class="panel">
    <div>
        <img src="../App/images/sophia/Sophia0Month.jpg" alt="Sophia"> Sophia on her birth day, February 19, 2017. 
    </div>
    <div>
        <img src="../App/images/sophia/Sophia1Month.jpg" alt="Sophia"> One month. 
    </div>
    <div>
        <img src="../App/images/sophia/Sophia2Month.jpg" alt="Sophia"> Two month.
    </div>
    <div>
        <img src="../App/images/sophia/Sophia3Month.jpg" alt="Sophia"> Three month.
    </div>
    <div>
        <img src="../App/images/sophia/Sophia4Month.jpg" alt="Sophia"> Four month.
    </div>
    <div>
        <img src="../App/images/sophia/Sophia5Month.jpg" alt="Sophia"> Five month.
    </div>
    <div>
        <img src="../App/images/sophia/Sophia6Month.jpg" alt="Sophia"> Six month.
    </div>

    <div>
        <img src="../App/images/sophia/Sophia7Month.jpg" alt="Sophia"> Seven month.
    </div>

    <div>
        <img src="../App/images/sophia/Sophia8Month.jpg" alt="Sophia"> Eight month.
    </div>

    <div>
        <img src="../App/images/sophia/Sophia9Month.jpg" alt="Sophia"> Nine month.
    </div>

    <div>
        <img src="../App/images/sophia/Sophia10Month.jpg" alt="Sophia"> Ten month.
    </div>

    <div>
        <img src="../App/images/sophia/Sophia11Month.jpg" alt="Sophia"> Eleven month.
    </div>

    <div>
        <img src="../App/images/sophia/Sophia1Year.jpg" alt="Sophia"> One Year.
    </div>
   
</section>

