<header id="leader-home">
    <div>
        <strong id="branding-home" ng-click="home()"></strong><br>
    </div>
</header>

<header id="home">
    <div>
        <article>
            <h1>Hello.</h1>
            <h3>My name is Maksood, nice to meet you. I am glad that you are here.</h3>
        </article>
    </div>
</header>

<section class="panel-primary">
    <div>
        <h2>A bit about me</h2>
        <p ng-show="!isMobile">
            I am a software engineer/hacker by passion and day-job, world citizen by travels and always looking for any new disruptive technology that may change the way we live. Currently I
            work at <a href="https://www.accenture.com" target="_blank"> Accenture </a> as a Technology Architect Manager,
            pursuing a Masters degree from a distinguished computer science program at <a href="http://www.omscs.gatech.edu/" target="_blank"> Georgia Tech</a>,
            and live in Seattle, WA. I am married to <a href="https://www.linkedin.com/in/navdeepmangat/" target="_blank"> this lady  </a> and chase around  <a ui-sref="aydin"> this guy </a> and <a ui-sref="sophia"> this girl </a>at home. 
            I am founder of <a ui-sref="mLab"> mLab Interactive LLC </a> where I experiment with mobile technologies, voice computing, artificial intelligence and machine learning - please feel free to explore the products offering.
        </p>
        <p ng-show="isMobile">
            I am a software enginner/hacker by passion and day-job, world citizen by travels and always looking  for any new disruptive technology that may change the way we live. Currently I
            <button class="link" ng-click="work()">work</button> at Accenture as a Technology Architect Manager, pursuing a Masters degree from a distinguished computer science program at Georgia <button class="link" ng-click="school()">Tech</button> and live in Seattle, WA.           
            I am married to this <button class="link" ng-click="lady()">lady</button> and chase around this <button class="link" ng-click="aydin()">guy</button> and <button class="link" ng-click="aydin()"> girl</button> at home. 
            I am founder of <button class="link" ng-click="mlab()">mLab Interactive LLC</button>  where I experiment with mobile technologies, voice computing, artificial intelligence and machine learning - please feel free to explore the products offering. 
        </p>
    </div>
</section>

<section class="panel-darker">
    <div>
        <h2>What I am upto currently: </h2>
        <ul class="cards">
            <li>
                <img src="../App/images/brands/accenture.png" alt="Accenture">
                <strong>Tech Architect </strong>
                <p>
                    <span>Delivering high-performing enterprise software solutions using various technologies and platforms. </span> <br>
                </p>
                <button class="progressive_alt" ng-click="experience()">More Works</button>
            </li>
            <li>
                <img src="../App/images/brands/georgiatech.png" alt="Georgia Tech">
                <strong>Graduate Student</strong>
                <p>
                    <span>Pursuing Online Master of Science In Computer Science with Interactive Intelligence Specialization </span><br>
                </p>
                <button class="progressive_alt" ng-click="education()">More Educations</button>
            </li>
            <li>
                <img src="../App/images/mLab/mLab_Interactive_LLC_logo_black.png" alt="mLab_Interactive_LLC">
                <strong>Founder</strong>
                <p>
                    <span> Incubator to experiment with mobile, voice computing, artificial intelligence and machine learning.</span><br>
                </p>
                <button class="progressive_alt" ng-click="mLab()">Learn More </button>
            </li>
        </ul>
        <div style="clear:both;"></div>
    </div>
</section>

<section class="panel-darkest">
    <div>
        <h2>Social Network Profiles </h2>
        <ul class="cards-medium">
            <li>
                <a href="https://www.linkedin.com/in/maksoodmohiuddin" target="_blank">
                    <img src="../App/images/brands/linkedin.png" alt="LinkedIn">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/maksood" target="_blank">
                    <img src="../App/images/brands/facebook.png" alt="Facebook">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/MaksoodM" target="_blank">
                    <img src="../App/images/brands/twitter.png" alt="Twitter">
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/+MaksoodMohiuddin" target="_blank">
                    <img src="../App/images/brands/googleplus.png" alt="Google+">
                </a>
            </li>
        </ul>
    </div>
    <div style="clear:both;"></div>
</section>

<section class="panel-darker">
    <div>
        <h2>Travels </h2>
        <img src="../App/images/travel/Florence.jpg" alt="Florence">
        <button class="regressive" ng-click="travel()">Explore My Travels </button>
    </div>
</section>

<section class="panel-darkest">
    <div>
        <h2>Resume</h2>
        <button class="progressive" ng-click="resume()">View/Downlaod PDF</button>
    </div>
</section>


