<header id="leader-home">
    <div>
        <strong id="branding-home" ng-click="home()"></strong><br>
    </div>
</header>

<header id="home">
    <div>
        <article>
            <h1>Hello.</h1>
            <h3>My name is Maksood, nice to meet you. I am glad that you are here.</h3>
        </article>
    </div>
</header>

<section class="panel-primary">
    <div>
        <h2>A bit about me</h2>
        <p>
            I am a software enginner/hacker by passion and day-job, world citizen by travels and a sucker for any new disruptive technology that may change the way we live. Currently I
            work at <a href="https://www.capitaloneinvesting.com/" target="_blank"> Capital One Investing </a> as a software engineer,
            pursuing a Masters degree from a distinguished computer science program at <a href="http://www.omscs.gatech.edu/" target="_blank"> Georgia Tech</a>,
            live in Seattle, WA, married to <a href="https://www.chifranciscan.org/PhysicianDetails.aspx?physicianID=821077" target="_blank"> this lady  </a> and chase around <a ng-href="/aydin"> this guy </a> at home.
        </p>
    </div>
</section>

<section class="panel-darker">
    <div>
        <h2>What I am upto currently: </h2>
        <ul class="cards">
            <li>
                <img src="../App/images/brands/capitaloneinvesting.png" alt="Capital One Investing">
                <strong>Software Engineer </strong>
                <p>
                    <span>Lead the software development effort for Refer A Friend project under Marketting and Analytics guild  </span> <br>
                </p>
                <button class="progressive_alt" ng-click="experience()">More Works</button>
            </li>
            <li>
                <img src="../App/images/brands/georgiatech.png" alt="Georgia Tech">
                <strong>Graduate Student</strong>
                <p>
                    <span>Pursuing Online Master of Science In Computer Science with Interactive Intelligence Specialization </span><br>
                </p>
                <button class="progressive_alt" ng-click="education()">More Educations</button>
            </li>
            <li>
                <img src="../App/images/brands/github.png" alt="Github">
                <strong>Independent Work</strong>
                <p>
                    <span> Sandbox projects in artificial intelligence, machine learning and implementation of various algorithms.</span><br>
                </p>
                <button class="progressive_alt" ng-click="github()">Browse Projects </button>
            </li>
        </ul>
        <div style="clear:both;"></div>
    </div>
</section>

<section class="panel">
    <div>
        <h2>Technical Skills Highlights</h2>
        <ul class="cards-small">
            <li>
                <h3>C#</h3>
            </li>
            <li>
                <h3>AngularJS</h3>
            </li>
            <li>
                <h3>Java</h3>
            </li>
            <li>
                <h3>Python</h3>
            </li>
            <li>
                <h3>Javascript</h3>
            </li>
            <li>
                <h3>CSS</h3>
            </li>
            <li>
                <h3>HTML</h3>
            </li>
            <li>
                <h3>jQuery</h3>
            </li>
            <li>
                <h3>AWS</h3>
            </li>
            <li>
                <h3>Azure</h3>
            </li>
            <li>
                <h3>Git</h3>
            </li>
            <li>
                <h3>Dev Ops</h3>
            </li>
            <li>
                <h3>.NET</h3>
            </li>           
            <li>
                <h3>API</h3>
            </li>
            <li>
                <h3>SQL</h3>
            </li>
        </ul>
    </div>
    <div style="clear:both;"></div>
</section>

<section class="panel-darkest">
    <div>
        <h2>Social Network Profiles </h2>
        <ul class="cards-medium">
            <li>
                <a href="https://www.linkedin.com/in/maksoodmohiuddin" target="_blank">
                    <img src="../App/images/brands/linkedin.png" alt="LinkedIn">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/maksood" target="_blank">
                    <img src="../App/images/brands/facebook.png" alt="Facebook">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/MaksoodM" target="_blank">
                    <img src="../App/images/brands/twitter.png" alt="Twitter">
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/+MaksoodMohiuddin" target="_blank">
                    <img src="../App/images/brands/googleplus.png" alt="Google+">
                </a>
            </li>
        </ul>
    </div>
    <div style="clear:both;"></div>
</section>

<section class="panel-darker">
    <div>
        <h2>Travels </h2>
        <img src="../App/images/travel/Florence.jpg" alt="Florence">
        <button class="regressive" ng-click="travel()">Explore My Travels </button>
    </div>
</section>

<section class="panel-darkest">
    <div>
        <h2>Resume</h2>
        <button class="progressive" ng-click="resume()">View/Downlaod PDF</button>
    </div>
</section>


