<header id="leader-resume">
    <div>
        <strong id="branding-resume" ng-click="home()"></strong><br>
    </div>
</header>

<header id="resume">
    <div>
        <article>
            <p>Resume.</p>       
        </article>
    </div>
</header>

<section class="panel">
    <div>
        <embed id="pdf_viewer" src="../App/documents/MaksoodMohiuddin.pdf" type="application/pdf">
    </div>
    <div>
        <p>
            <i> PDF may not render properly in mobile browser. </i>
        </p>        
    </div>
</section>

