<header id="leader-experience">
    <div>
        <strong id="branding-experience" ng-click="home()"></strong><br>
    </div>
</header>

<header id="experience">
    <div>
        <article>
            <p>Experience.</p>
        </article>
    </div>
</header>

<section class="panel">
    <div>        
        <ul class="cards-large">
            <li>
                <img src="../App/images/brands/accenture.png" alt="Accenture">
                <strong>Technology Architect Manager </strong>
                <i>September 2016 - Present | Seattle, WA </i>
                <ul>     
                    <li> National Telecom – Senior UI Architect:  Architected the UI platform framework for a large & complex delivery project comprised of disparate  systems integrations using Accenture Delivery Architecture methodologies, AngularJS, Angular, HTML5, CSS, NodeJS, , NPM, Jenkins, Micro Services, NPM and various industry JavaScript libraries.</li>
                    <li> National Financial Services & Insurance – Cross Platform Architect: Helped architect & implement a cross platform mobile application for a Mobile Center of Excellence Reference Application using Cordova, Ionic, Angular JS, Java, Objective C, Blackberry Secure Mobility and SharePoint </li>
                </ul>
            </li>    


            <li>
                <img src="../App/images/brands/capitaloneinvesting.png" alt="Capital One Investing">
                <strong>Senior Software Engineer (Consultant/Iconma) </strong>
                <i>July 2015 - September 2016 | Seattle, WA </i>
                <ul>                                       
                    <li> Built and delivered <a href="https://content1.capitaloneinvesting.com/refer" target="_blank"> Refer-A-Friend </a> platform for Marketing and Analytics guild as Technical Lead which is projected to bring $15 million new assets under management for current fiscal year </li>
                    <li> Implemented micro service architecture, one of the first in the company, using Angular JS, ASP.NET MVC 5, C#, HTML5, CSS, jQuery, NUnit and Spec Flow test framework. </li>
                    <li> Fully embraced dev ops responsibilities and hand build the CI/CD pipeline using GitHub, Jenkins, Nexus, Chef and infrastructure as code using AWS Cloud Stacks..</li>
                </ul>
            </li>           
              
            <li>
                <img src="../App/images/brands/microsoft.png" alt="Microsoft">
                <strong>Software Engineer IV (Consultant/Robert Half Technology)  </strong>
                <i>March 2015 - July 2015 | Seattle, WA </i>
                <ul>                   
                    <li> UI architected <a href="https://community.xbox.com/ambassadors" target="_blank"> XBOX Ambassadors </a> platform that enable users to engage with Xbox community and get rewarded for it.  </li> 
                    <li> Built a mobile-first and test driven web application using Bootstrap, Angular JS, ASP.NET MVC 5, C#, HTML5, CSS3, jQuery, Karma & Protractor test suits, Xunit test framework, Web API, Moq, & Unity DI. </li> 
                    <li> Cloud software development experience using Microsoft Azure’s infrastructure management tools such as cloud services, service bus topics, subscriptions, SQL server instances, and storage .</li> 
                </ul>
            </li>  
            
            <li>
                <img src="../App/images/brands/20thcenturyfox.jpeg" alt="20th Century Fox">
                <strong>Lead Software Developer (Consultant/Robert Half Technology)  </strong>
                <i>June 2014 - March 1015 | Los Angeles, CA </i>
                <ul>
                    <li> Delivered a secure and large-scale <a href="https://sw.foxesprit.com/" target="_blank">Digital Asset Management System </a> for Fox that consolidate 1 million plus digital assets in a single web portal. </li>
                    <li> Led and mentored a team of four developers, designed systems architecture and managed workload to align business needs. </li>               
                    <li> Hands-on software development experience using C#, ASP .Net MVC 5, HTML5, CSS3, jQuery, Angular JS, Underscore.js, WCF, Restful services, SOA and SQL Server.</li>
                </ul>
            </li>  

            <li>
                <img src="../App/images/brands/turner.png" alt="Turner Broadcasting Inc">
                <strong>Expert Software Developer (Full Time Employee)</strong>
                <i>October 2010 - June 2014  | Atlanta, GA </i>
                <ul>
                    <li> Created scalable software products with high data quality for the strategic planning division to help monetize Time Warner’s TV contents, which generates over $4 billion advertising revenue annually</li>
                    <li> Led software development efforts to enhance and maintain existing business critical sales solutions software products with a team of four resources to drive advertising sales and provide revenue forecasting across all Time Warner networks (CNN, TNT, TBS, and Cartoon Network etc.). </li>
                    <li> Active participation in Media Camp, an industry leading media startup incubator program and Next Gen, a strategic business unit that monitors disruptive technologies within media ecosystem. </li>
                </ul>
            </li>  

            <li>
                <img src="../App/images/brands/xerox.jpg" alt="Xerox">
                <strong>Senior Systems Development Specialist (Full Time Employee)  </strong>
                <i> April 2008 to October 2010 | Atlanta, GA </i>               
                <ul>
                    <li> Engaged in multiple full software development life cycles of the Airport Parking Revenue Control Software System in major world airports, with an average of $15 million revenue per implementation</li>
                    <li> Led software development team of eight in an onshore-offshore model for the web based airport-parking facilities motioning tool. </li>
                    <li> Technical Lead for Airport Valet Software Systems team across North America. </li>
                    <li> Build highly available embedded systems for airport parking entry and exit terminal gates.</li>
                    <li> Product architect for Video Annotation Module that uses third party video surveillance systems to create a video feed bookmark system to prevent frauds.  </li>
                </ul>
            </li>                                  
        </ul>
        <div style="clear:both;"></div>
    </div>
</section>




