<header id="leader-aydin">
    <div>
        <strong id="branding-aydin" ng-click="home()"></strong><br>       
    </div>
</header>

<header id="aydin">
    <div>
        <article>
            <h1>Aydin.</h1>
            <h3>The Trouble Maker </h3>
        </article>
    </div>
</header>

<section class="panel">
      <div>
        <img src="../App/images/aydin/0Month.jpg" alt="Aydin"> Aydin on his birth day, June 11, 2015. 
    </div>
    <div>
        <img src="../App/images/aydin/1Month.jpg" alt="Aydin"> One month. 
    </div>
    <div>
        <img src="../App/images/aydin/2Month.jpg" alt="Aydin"> Two month.
    </div>
    <div>
        <img src="../App/images/aydin/3Month.jpg" alt="Aydin"> Three month.
    </div>
    <div>
        <img src="../App/images/aydin/4Month.jpg" alt="Aydin"> Four month.
    </div>
    <div>
        <img src="../App/images/aydin/5Month.jpg" alt="Aydin"> Five month.
    </div>
    <div>
        <img src="../App/images/aydin/6Month.jpg" alt="Aydin"> Six month.
    </div>
    <div>
        <img src="../App/images/aydin/7Month.jpg" alt="Aydin"> Seven month.
    </div>
    <div>
        <img src="../App/images/aydin/8Month.jpg" alt="Aydin"> Eight month.
    </div>
    <div>
        <img src="../App/images/aydin/9Month.jpg" alt="Aydin"> Nine month.
    </div>
    <div>
        <img src="../App/images/aydin/10Month.jpg" alt="Aydin"> Ten month.
    </div>
    <div>
        <img src="../App/images/aydin/11Month.jpg" alt="Aydin"> Eleven month.
    </div> 
    <div>
        <img src="../App/images/aydin/Aydin1Year.jpg" alt="Aydin"> One year.
    </div> 
    <div>
        <img src="../App/images/aydin/Aydin2Year.jpg" alt="Aydin"> Two year.
    </div>    
   
</section>

