<header id="leader-color">
    <div>
        <strong id="branding-color" ng-click="home()"></strong><br>
    </div>
</header>

<header id="color">
    <div>
        <article>
            <p>Color My States</p>
        </article>
    </div>
</header>

<section class="panel">
 
    <div>
        <img src="../App/images/color/color_my_state_white.png" alt="Aydin"> 
        <h2> <strong>  An interactive educational mobile app developed by Maksood Mohiuddin, inspired by Aydin and Sophia Mohiuddin </strong> </h2>
    </div>
 
   

    <div>
            <h2> <u> Privacy Policy </u></h2>
   
            <h2> Overview: </h2>
            <p>
                This privacy policy explains how Maksood Mohiuddin collects and uses information in the ColorMyStates mobile app
                and how this information is used.
            </p>
            <h2> Personally Identifiable Information:</h2>
            <p>
                We do not collect personally identifiable information about you. In other words,
                we do not collect information such as your full name, address, phone number or email address.
            </p>
            <p>
                We do not knowingly contact or collect personal information from children under 13.
                If you believe we have inadvertently collected such information, please contact us so we can promptly obtain parental
                consent or remove the information.
            </p>
            <h2> Location Information: </h2>
            <p>
                We use location services when allowed but we do not store or share the location services information.
            </p>
            <h2> Access to personal data:</h2>
            <p>
                The only data collected in the app is the name of states the user has already colored and it is only stored locally on the device.
                This data can only be viewed and/or deleted inside the app. We do not collect any other personal data.
            </p>
            <h2> Sharing of information:</h2>
            <p>
                We generally do not share personally identifiable information (such as name, address, email or phone) with other companies.
            </p>
            <h2>  Ad Companies:</h2>
            <p>
                We do not allow advertising companies to collect data through our service for ad targeting.
            </p>

            <h2> Analytics:</h2>
            <p>
                We do not use 3rd party analytics providers or software in our apps.
            </p>

            <h2> Special Situations:</h2>
            <p>
                To operate the service, we also may make identifiable and anonymous information available to third parties in these
                limited circumstances: (1) with your express consent, (2) when we have a good faith belief it is required by law,
                (3) when we have a good faith belief it is necessary to protect our rights or property, or
                (4) to any successor or purchaser in a merger, acquisition, liquidation, dissolution or sale of assets.
                Your consent will not be required for disclosure in these
            </p>

            <h2> Questions about privacy:</h2>
            <p>
                If you have any questions or concerns about our privacy policies, please contact us maksood@gmail.com
            </p>
        </body>
    </html>



    </div>
    

</section>


